@font-face {
    font-family: 'PiratskaPisava';
    src: url('../Caribbean-Caps-Font/CaribbeanCaps-1nMZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../slike/zacetnastran.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'PiratskaPisava', serif;
    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
	margin-top: 60vh;
}

.container h1 {
    font-size: 80px;
    color: black;
    margin: 0;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.container2 {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.start {
    appearance: none;
    border: 2px solid #4a0f0f;
    background: linear-gradient(180deg, #1a1a1a 0%, #0a0a0a 100%);
    color: #d8c7a1;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px 34px;
    border-radius: 0;
    cursor: pointer;
    box-shadow:
      0 0 0 1px #000 inset,
      0 0 18px rgba(120,0,0,0.45),
      0 8px 18px rgba(0,0,0,0.6);
    text-shadow:
      0 1px 0 #000,
      0 0 8px rgba(255,0,0,0.25);
    transition: 0.12s;
	font-family: 'PiratskaPisava';
  }

  .start:hover {
    background: linear-gradient(180deg, #221111 0%, #0b0b0b 100%);
    box-shadow:
      0 0 0 1px #000 inset,
      0 0 24px rgba(140,0,0,0.6),
      0 10px 22px rgba(0,0,0,0.7);
  }

  .start:active {
    transform: translateY(1px);
  }