.zgornji{
  border: solid 2px black;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:10px;
}

.hud{
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  gap:4px;
}

.narisi[disabled]{
  opacity:0.5;
  cursor:not-allowed;
}