*{
	margin: 0;
	padding: 0;
}
.zgornji{
	border: solid 2px black;
}
.main{
	justify-content: center;
	align-items: center;
}
.spodnji{
	border: solid 2px black;
}
#canvas{
	display: block;
    margin: 0 auto;
}