@font-face {
    font-family: 'PiratskaPisava';
    src: url('../Caribbean-Caps-Font/CaribbeanCaps-1nMZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
	padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../slike/beach (4).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main {
    display: flex;
    gap: 15px;
	margin-left: 14vh;
}

.zgornji {
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
	gap: 24vh;
}
.srce{
	height: 10vh;
	width: 40vh;
	gap: 3vh;
}
#srce1{
	height: 10vh;
	width: 10vh;
	background-image: url("../slike/srce.png");
	background-size: cover;
	
}
#srce2{
	height: 10vh;
	width: 10vh;
	background-image: url("../slike/srce.png");
	background-size: cover;
}
#srce3{
	height: 10vh;
	width: 10vh;
	background-image: url("../slike/srce.png");
	background-size: cover;
}
#zaklad {
    width: 330px;
    height: 250px;
    background-image: url("../slike/zaklad.png");
    background-repeat: no-repeat;
    background-size: 1000px 230px;
    background-position: 0 0;
}
.hud {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    font-weight: bold;
}
.timer, .coins, .naslov{
	font-size: 28px;
    color: #EDC488;
    font-weight: 900;
    text-shadow: 
        2px 2px 0px #000, 
        4px 4px 0px rgba(0, 0, 0, 0.5),
        0px 0px 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    line-height: 1.2;
	font-family:'PiratskaPisava';
}
canvas {
    background-color: transparent;
    border: none;
    display: block;
	margin-left: 10%;
}
.gumb{
	height: 4vh;
	width: 3vh;
	margin-top: 9vh;
	margin-left: 17vh;
	background: transparent;
	border: none;
	cursor: pointer;
	
}