body {
    margin: 0;
    display: flex;
    justify-content: center;
	background-image: url("../Slike/beach1.png");
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.srce{
	height: 10vh;
	width: 40vh;
	gap: 3vh;
}
#srce1{
	height: 10vh;
	width: 10vh;
	background-image: url("../Slike/srce.png");
	background-size: cover;
	
}
#srce2{
	height: 10vh;
	width: 10vh;
	background-image: url("../Slike/srce.png");
	background-size: cover;
}
#srce3{
	height: 10vh;
	width: 10vh;
	background-image: url("../Slike/srce.png");
	background-size: cover;
}
.zgornji {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.main {
    display: flex;
    align-items: center;
    gap: 15px;
}

#zaklad {
    width: 250px;
    height: 230px;
    background-image: url("../Slike/zaklad.png");
    background-repeat: no-repeat;
    background-size: 1000px 230px;
    background-position: 0 0;
}

h1 {
    margin: 0;
    font-size: 40px;
}

.hud {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    font-weight: bold;
}
canvas {
    background-color: transparent;
    border: none;
    display: block;
}