body {
    margin: 0;
	padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../Slike/beach (4).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main {
    display: flex;
    gap: 15px;
	margin-top: 14vh;
	margin-left: 14vh;
}

.zgornji {
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
	gap: 30vh;
}
.srce{
	height: 10vh;
	width: 40vh;
	gap: 3vh;
}
#srce1{
	height: 10vh;
	width: 10vh;
	background-image: url("../Slike/srce.png");
	background-size: cover;
	
}
#srce2{
	height: 10vh;
	width: 10vh;
	background-image: url("../Slike/srce.png");
	background-size: cover;
}
#srce3{
	height: 10vh;
	width: 10vh;
	background-image: url("../Slike/srce.png");
	background-size: cover;
}


#zaklad {
    width: 300px;
    height: 250px;
    background-image: url("../Slike/zaklad.png");
    background-repeat: no-repeat;
    background-size: 1000px 230px;
    background-position: 0 0;
}

h1 {
    margin: 0;
    font-size: 40px;
}

.hud {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    font-weight: bold;
}
canvas {
    background-color: transparent;
    border: none;
    display: block;
	margin-left: 10%;
}