*{
	margin: 0;
	padding: 0;
}
.zgornji{
	border: solid 2px black;
}
.main{
	text-align: center;
	border: solid 2px black;
}
.spodnji{
	border: solid 2px black;
}
.slikal svg{
	position: absolute;
	z-index: 2;
	
}
.slikal canvas{
	position: absolute;
	border: solid 2px black;
	z-index: 1;
}